<br>
<br>

<div class="container">

    <div class="form-group col-md-6 inline">
        <input [(ngModel)]="enteredID" type="text" class="form-control" id="id" name="id" placeholder="Search by Employee ID">
        <button class="btn btn-secondary" (click)="searchVacationByEmployeeId()">Search</button>
        <button class="btn btn-secondary" (click)="getAllVacations()">Reset</button>
    </div>

    <br>
    <br>
<div>
<table style="margin-bottom: 50px;" class=" table table-responsive table-striped  border-dark">

    <thead class="table-dark ">
        <tr>
            <th>Vacation Id</th>
            <th>Employee Id</th>
            <th>reason</th>
            <th>vacation Date</th>
            <th>Actions</th>
        </tr>

    </thead>


    <tbody>
        <tr *ngFor = "let vacation of vacations">
            <td>{{vacation.id}}</td>
            <td>{{vacation.empId}}</td>
            <td>{{vacation.reason}}</td>
            <td>{{vacation.vacationDate}}</td>
            <td>
                <button (click) = "deleteVacation(vacation.id)" class = "btn btn-danger btn-sm" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>


</table>
</div>
<div class="text-center" style="margin-top: 20px;">
    <button (click)="addNewVacation()" class="btn btn-primary">Add New Vacation</button>
  </div>

<br><br><br><br>


</div>
